.login{
 height: 100vh;
  background-image: linear-gradient(to right, #000428, #004e92);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card{
   display: flex;
   width: 60%;
   flex-direction:row;
  background-color: white;
   border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
}

.login .card .left{
 flex: 1;
 background:linear-gradient(to right, #000428, #4e92),url("./Login.jpg") center;
 color:#fff;
 background-size: cover;
 padding: 50px;
 display:flex;
 flex-direction: column;
 gap: 50px;
}
.left h1{
 font-size: 70px;
 line-height:100px;
}
.left span{
 font-size: 14px;
}
 .left button{
  width: 50%;
  padding: 10px;
  border: none;
  background-color:white;
  color: #004e92;
  font-weight: bold;
  cursor: pointer;
 }
.right{
 padding: 50px;
 display: flex;
 flex: 1;
 gap: 50px;
 flex-direction: column;
 justify-content: center;
}
.right h1{
 color: #004e92
}
form{
 display: flex;
 flex-direction: column;
 gap: 30px;
}
form input{
 border: none;
 border-bottom: 1px solid #004e92;
 padding: 20px 10px;
}

form button{
 width: 50%;
 padding: 10px;
 border: none;
 background-color:#004e92;
 color: white;
 font-weight: bold;
 font-size: 15px;
 cursor: pointer;
}